body{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.Header{
  width: 100%;
  height: 6vh;
  margin-top: 0.5rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.logoHeaderHomeContainer{
  margin: 1rem;
  color: #ff00006d;
  font-weight: 300;
  font-size: 1.8rem;
  cursor: pointer;
}
.logoHeaderHomeContainer:hover{
  color: #db0004;
  margin: 1rem;
  transform: scale(1.1);
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  background: linear-gradient( to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) 20%, rgba(0,0,0,0) );
}
.btnCreateGameHeaderContainer{
  margin: 1vw;
}
.btnCreateGameHeader{
  font-size: 0.84rem;
  width: 9.7rem;
  height: 1.2rem;
  border-width: 0px;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-width: 0.01rem;
  border-color: #780b0b;
  border-style: solid;
}
.btnCreateGameHeader:hover{
  border: solid 0.06rem #db0004;
  box-shadow: 0 0 30px #db0004;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );;
}
.btnCreateGameHeader:focus{
  border: solid 0.06rem #db0004;
      box-shadow: 0 0 30px #db0004;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );;
}
.pageHeaderPageContainer{
  padding-top: 0.7vh;
  margin-left: 4.1vw;
  margin-bottom: 2vh;
}
.inputHeaderHomeContainer{
  margin: 1vw;
}
.inputHeaderHome {
  font-size: 0.84rem;
  width: 8rem;
  height: 1.2rem;
  border-width: 0px;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-width: 0.01rem;
  border-color: #780b0b;
  border-style: solid;
  transition: all 600ms ease;
}

.inputHeaderHome:hover{
  border: solid 0.06rem #db0004;
  box-shadow: 0 0 30px #db0004;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );;
}
.inputHeaderHome:focus{
  border: solid 0.06rem #db0004;
      box-shadow: 0 0 30px #db0004;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );;
}

.sliderByHeaderContainer{
  background: rgb(118 118 118);
  background: linear-gradient(to right, rgba(98, 12, 14, 1) 0%, rgb(59, 59, 59) 100%);
  border: solid 0.02rem #780b0b;
  border-radius: 8px;
  height: 0.1rem;
  width: 10rem;
  outline: none;
  transition: all 600ms ease;
  -webkit-appearance: none;
}
.sliderByHeaderContainer::-webkit-slider-thumb {
  background-color: #780b0b;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  margin-top: 0rem;
  border-radius: 1rem;
  border-width: 0.01rem;
  border-color: #780b0b;
  border-style: solid;
  transition: all 400ms ease;
}
.pageHeaderPageContainer:hover
.sliderByHeaderContainer{
  border: solid 0.06rem #db0004;
  box-shadow: 0 0 30px #db0004;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );;
    cursor: pointer;
}
.sliderByHeaderContainer:focus{
  border: solid 0.06rem #db0004;
  box-shadow: 0 0 30px #db0004;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );;
    cursor: pointer;
}
.pageHeaderPageContainer:hover
.sliderByHeaderContainer::-webkit-slider-thumb{
  border: solid 0.6rem #db0004;
}
.sliderByHeaderContainer::-webkit-slider-thumb:focus{
  border: solid 0.6rem #db0004;
}/* Made with Love :) */