.homeContent {
  margin-top: 1.7rem;
  background: rgb(20, 20, 20);
  color: rgb(211 211 211);
  width:100%;
}
#Video {
  position: absolute;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 1;
}/* Made with Love :) */