.selectOrderContainer{
  margin: 1.5vw;
}
.orderByHeaderContainer{
  font-size: 0.74rem;
  width: 4.3rem;
  height: 1.1rem;
  border-width: 0px;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-width: 0.01rem;
  border-color: #780b0b;
  border-style: solid;
  transition: all 600ms ease;
}
.orderByHeaderContainer:hover{
  border: solid 0.06rem #db0004;
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );
}
.orderByHeaderContainer:focus{
  border: solid 0.06rem #db0004;
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );
}
@media only screen and (max-width:600px){
  .orderByHeaderContainer {
    position: absolute;
    top: 2.8rem;
    width: 4.3rem;
    right: 41vw;
    z-index: 0;
  }

}
/* Made with Love :) */
