.videogameCreatorContainer{
  background-image: url("../Media/background_form.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  display: grid;
  color: #ff00006d;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: baseline;
  z-index: 0;
}
.btnBackFormCreator {
  margin-top: 1rem;
  cursor: pointer;
  width: 3.3rem;
  height: 1.3rem;
  border-width: 0.000001rem;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-color: #780b0b;
  border-style: solid;
}
.btnBackFormCreator:hover {
  color: #db0004;
  box-shadow: 0 0 30px #db0004;
  transform: scale(1.01);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0)
  );
}
.formContainer{
  background: linear-gradient(345deg, black, transparent);
  box-shadow: black 2rem 2rem 30px;
  height: 80.4vh;
  width: 34rem;
  display: inline-grid;
  grid-gap: 0.7rem;
  margin: 0.005rem;
  padding: 0.04rem;
  border-radius: 0.4rem;
  border: solid 0.06rem rgba(255, 255, 255, 0);
  justify-items: center;
  z-index: 5;
}
.formContainer:hover{
  border: solid 0.06rem #db0004;
  box-shadow: 0 0 30px #db0004;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );;
}
form{
  display: inline-grid;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: start;
  z-index: 10;
}
.titleForm {
  color: #ff00006d;
  text-decoration: none;
  font-weight: 300;
  font-size: 6vh;
  margin-bottom: -2vh;
  margin-top: -1.5rem;
  width: fit-content;
  transition: all 200ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.titleForm:hover {
  color: #db0004;
  text-shadow: 0 0 30px #db0004;
  transform: scale(1.01);
}
#listPlatformsForm{
  font-size: 0.74rem;
  width: 8.7rem;
  height: 1.1rem;
  border-width: 0px;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-width: 0.01rem;
  border-color: #780b0b;
  border-style: solid;
  transition: all 600ms ease;
}
#listPlatformsForm:hover{
  border: solid 0.06rem #db0004;
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );
}
.dialogPlatforms{
  top: 14rem;
  background-color: black;
  height: 4rem;
  width: 17rem;
  border: solid 0.06rem rgba(255, 255, 255, 0);
  box-shadow: black 2rem 2rem 30px;
  display: inline-grid;
  color: #ff00006d;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  align-items: center;
  z-index: 15;
}
.dialogPlatforms:hover{
  border: solid 0.06rem #db0004;
  box-shadow: 0 0 30px #db0004;
}
.dialogPlatforms::before {
  content: "";
  width: 99vw;
  height: 99vh;
  position: absolute;
  margin: auto;
  top: -40vh;
  left: -37vw;
  background-color: #00000087;
  z-index: -1;
}
.dialogGenres{
  top: 14rem;
  background-color: black;
  height: 4rem;
  width: 17rem;
  border: solid 0.06rem rgba(255, 255, 255, 0);
  box-shadow: black 2rem 2rem 30px;
  display: inline-grid;
  color: #ff00006d;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  align-items: center;
  z-index: 15;
}
.dialogGenres:hover{
  border: solid 0.06rem #db0004;
  box-shadow: 0 0 30px #db0004;
}
.dialogGenres::before {
  content: "";
  width: 99vw;
  height: 99vh;
  position: absolute;
  margin: auto;
  top: -40vh;
  left: -37vw;
  background-color: #00000087;
  z-index: -1;
}
.xBtnDialog{
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1rem;
  top: 0.1rem;
  right: 0.3rem;
  cursor: pointer;
  position: absolute;
  z-index: 15;
}
#listGenresForm{
  font-size: 0.74rem;
  width: 8.7rem;
  height: 1.1rem;
  border-width: 0px;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-width: 0.01rem;
  border-color: #780b0b;
  border-style: solid;
  transition: all 600ms ease;
}
#listGenresForm:hover{
  border: solid 0.06rem #db0004;
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );
}
input{
  font-size: 0.84rem;
  width: 8rem;
  height: 1.2rem;
  border-width: 0px;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-width: 0.01rem;
  border-color: #780b0b;
  border-style: solid;
  transition: all 600ms ease;
}
input:hover{
  border: solid 0.06rem #db0004;
  box-shadow: 0 0 30px #db0004;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0,0,0,0)
    );;
} 
.descriptionForm{
  resize: none;
  width: 18rem;
  height: 4rem;
  font-size: 0.84rem;
  border-width: 0px;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-width: 0.01rem;
  border-color: #780b0b;
  border-style: solid;
  transition: all 600ms ease;
}
.descriptionForm:hover{
    border: solid 0.06rem #db0004;
    box-shadow: 0 0 30px #db0004;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0,0,0,0)
      );;
}
.selectsConteiner{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
input[type="checkbox"] {
  width: 0rem;
  height: 0.85rem;
  margin-right: 0.4rem;
  transition: width 300ms ease;
}
input[type="checkbox"]:hover {
  width: 0.85rem;
  height: 0.85rem;
  margin-right: 0.4rem;
}
.selects{
  display: inline-grid;
  align-items: start;
    justify-items: start;
}
.btnForm{
  margin-top: 1rem;
  cursor: pointer;
  width: 3.3rem;
  height: 1.3rem;
  border-width: 0.000001rem;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-color: #780b0b;
  border-style: solid;
  justify-self: center;
}
.btnForm:hover{
  color: #db0004;
  box-shadow: 0 0 30px #db0004;
  transform: scale(1.01);
  background: linear-gradient( to top, 
  rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.2) 20%, 
  rgba(0, 0, 0, 0) );
}
.errorForm{
  color: #db0004;
  font-size: 0.74rem;
  box-shadow: 0 0 30px #db0004;
} 
.FormSelects{
  color: #db0004;
  font-size: 0.74rem;
} 
.btnFormDisabled{
  margin-top: 1rem;
  cursor:not-allowed;
  width: 3.3rem;
  height: 1.3rem;
  border-width: 0.000001rem;
  color: rgb(19, 19, 19);
  background-color: rgb(20, 17, 17);
  border-radius: 0.2rem;
  border-color: #1e0101;
  border-style: solid;
  justify-self: center;
}
.btnFormDisabled:hover{
  color: #1e0101;
  box-shadow: 0 0 30px #1e0101;
  transform: scale(1.01);
  background: linear-gradient( to top, 
  rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.2) 20%, 
  rgba(0, 0, 0, 0) );
}
@media only screen and (max-width:600px){
  .videogameCreatorContainer{
    BACKGROUND-POSITION-X: -15rem;
    background-size: cover;
  }
  .btnBackFormCreator {
    display:none
  }
  .formContainer {
    width: 95vw;
    border: solid 0.06rem #db0004;
    box-shadow: 0 0 30px #db0004;
    background: linear-gradient( to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) 20%, rgba(0,0,0,0) );
  }
  form{
    padding: 1rem;
  }
  .titleForm {
    color: #db0004;
    text-shadow: 0 0 30px #db0004;
    transform: scale(1.01);
  }
  .dialogPlatforms{
    border: solid 0.06rem #db0004;
    box-shadow: 0 0 30px #db0004;
  }
  .dialogPlatforms::before{
    top: -14rem;
    height: 100vh;
    width: 100vw;
    left: -3.22rem;
  }
  .dialogGenres{
    border: solid 0.06rem #db0004;
    box-shadow: 0 0 30px #db0004;
  }
  .dialogGenres::before {
    border: solid 0.06rem #db0004;
    box-shadow: 0 0 30px #db0004;
    top: -14rem;
    height: 100vh;
    width: 100vw;
    left: -3.22rem;
  }
}  /* Made with Love :) */