.btnBack {
  margin-top: 1rem;
  cursor: pointer;
  width: 3.3rem;
  height: 1.3rem;
  border-width: 0.000001rem;
  color: rgb(118 118 118);
  background-color: rgb(59, 59, 59);
  border-radius: 0.2rem;
  border-color: #780b0b;
  border-style: solid;
}
.btnBack:hover {
  color: #db0004;
  box-shadow: 0 0 30px #db0004;
  transform: scale(1.01);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0)
  );
}

.ContainerVideogameDetail {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: space-evenly;
}
.imgContainerVideogameDetail {
}

.imgVideogameDetail {
  width: 50%;
  padding-top: 6%;
}

.textContainerVideogameDetail {
  padding: 3%;
  color: rgba(255, 255, 255, 1);
}

.titlesVideogameDetail {
  font-weight: bold;
  color: darkred;
  font-size: 133%;
}/* Made with Love :) */
